<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    
    <h1>Products</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Product</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>