{% extends 'base.html' %}
{% block title %}
    Products
{% endblock %}
{% block content %}
    <form action="#" method="post">
        <input type="text" name="productname" placeholder="Enter product name" id="pname"/>
        <input type="text" name="productdescription" placeholder="Type description" id="pdescr"/>
        <button type ="submit">Add product</button>
    </form>
<ul>
    {% for product in products %}
        <li>{{product["name"]}}</li>
    {% endfor %}
</ul>    
{% endblock %}


